body {
  border: 0 auto;
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input{
  background-color: beige;
  margin-top: 20px;
  margin-left: 8px;
  width: 60px;
  height: 25px;
}

