body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #33FF8D;
}

header{
    text-align: center;
    color: white;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    font-size: 12pt;
    box-shadow: 5px 5px 5px rgba(0, 0,0, 0.384);
    text-align: center;
}
input{
    width: 320px;
    height: 18px;
    margin: 10px;
}

button{
    width: 180px;
    height: 30px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 40px;
    font-size: 10pt;
}

footer{
text-align: center;
color: white;
font-size: 13pt;
font-size: italic;
}