/* body {
  border: 0 auto;
  width: 80%;
  /* height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  background-color: #07060a;
  color: #ff0000;
  text-align: center; //alinha os ítens dentro do body


}

#fire{
cursor: pointer;
}

img{
  max-width: 100%; //ele garenta que a imagem se torne responsiva
}

