/*estilo essencial*/
body{
  margin: 0px;
}

ul{
  padding: 0px;
  margin: 0px;
  list-style: none; 
}

img{
  display: block; /*tirar os pixels do inline block*/
  max-width: 100%; /*Para não estourar o container*/
}

.slide {
  display: flex; /*padrão um ao lado do outro*/

}

/*INFORMANDO AO BROWNSER QUE O SLIDE VAI MUDAR, melhora a performance*/
.slide:hover{
  will-change: transform;
}

.slide-wrapper {
  overflow: hidden; /*some com a barra de rolagem*/
}

.slide li{
  /*shrink é diminuir para não estourar o container*/
  flex-shrink: 0; /*Gera barra de rolagem*/
  width: 80vw;/*80% do tam da tela*/
  max-width: 800px;
  margin: 0 20px;

  /*firulas*/
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rbga(0,0,0,.4);
  opacity: .5;
  transform: scale(.8);
  transition: .4s ;  /*transition referente à mudança do estilo da classe (activeClass*/


}

/*alterando o estilo da classe ativa*/
.slide li.active {
  opacity: 1;
  transform: scale(1);
}

/*vamos adicionar um event de mouse move e de onclick no 
transform: translate3d(parâmetro, parâmetro, parâmetro), para que os slides se movam*/
