body{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 95vh;
}

section {
    display: flex;
    background-color: rgba(255, 216, 0.8);
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    position:fixed;
}

div {
    background-color: rgb(0,0,0,1);
    width: 70px;
    height: 70px;
    padding: 5px;
    margin: 0px;
    border: solid 3px white;
    padding:1px;
    margin:0.2px;
    
}

